* {
  margin: 0;
  padding: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  background-color: rgb(7, 28, 46);
  display: flex;
  justify-content: center;
  align-items: center;
}
.display-login {
  width: 300px;
  height: 400px;
  background-color: rgba(214, 223, 231, 1);
  border-radius: 5px;
  box-shadow: 1px 1px 3px black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.tony-login {
  animation: 5000ms infinite tony;
}

@keyframes tony {
  0%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(180deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
.display-login input,h3,img {

  margin-top: 15px;

}

.display-login input{

  width: 60%;
  height: 30px;
  border: none;
  padding: 5px;
  outline: none;

}

.display-login input[type="submit"] {

  background-color: rgb(16, 194, 105);
  cursor: pointer;
  transition: 1s;

}

.display-login input[type="submit"]:hover {

  box-shadow: 1px 1px 3px black;
  transition: 1s;

}